DB_NAME=db_metrics
DB_USER=postgres
DB_PASS=mypassword_113_554
DB_HOST=db
DB_PORT=5432
DB_TABLE=metrics_db

POSTGRES_DB=db_metrics
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword_113_554

API_HOST=0.0.0.0
API_PORT=8000

API_METRICS = "http://backend:8000/metrics"
API_RANGE = "http://backend:8000/metrics/range"

APP_PORT=8501
APP_ADDRESS="0.0.0.0"